[program:thumbor]
command=thumbor -p 800%(process_num)s -c {{thumbor_config_dir}}/thumbor.conf -k {{thumbor_config_dir}}/thumbor.key -l {{thumbor_log_level}}
process_name=thumbor800%(process_num)s
numprocs={{thumbor_processes}}
user={{thumbor_user}}
autostart=true
autorestart=true
startretries=3
stdout_logfile={{thumbor_log_dir}}/thumbor800%(process_num)s.stdout.log
stdout_logfile_backups=3
stderr_logfile={{thumbor_log_dir}}/thumbor800%(process_num)s.stderr.log
stderr_logfile_backups=3
